@import 'settings';

.splash-screen {
  &.container {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: #5480fe;
  }

  .branding {
    color: white;
    font-weight: bold;
  }

  .infoo {
    position: relative;
    display: inline-block;
    // padding-top: 0.2em;
    // padding-right: 0.05em;
    // padding-bottom: 0.1em;
    overflow: hidden;
  }

  .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
    color: white;
  }
}
