.u-weight-lightest {
  font-weight: $global-weight-lightest;
}

.u-weight-light {
  font-weight: $global-weight-light;
}

.u-weight {
  font-weight: $global-weight;
}

.u-weight-bold {
  font-weight: $global-weight-bold;
}
