form {
  input,
  button,
  label {
    display: block;
    width: 100%;
    margin-bottom: $global-spacing-unit-small;
  }

  label,
  input,
  button,
  footer {
    &:not(.static) {
      position: relative;
      top: -15px;
      opacity: 0;
    }
  }

  input + span {
    position: relative;
    top: -$global-spacing-unit-small;
    color: $color-danger;
    padding-left: $global-spacing-unit-small;
  }

  footer {
    color: $color-gray;
  }
}
