form {
  input,
  button,
  label {
    display: block;
    width: 100%;
    margin-bottom: $global-spacing-unit-small;
    position: relative;
  }

  input + span {
    position: relative;
    top: -$global-spacing-unit-small;
    color: $color-danger;
    padding-left: $global-spacing-unit-small;
  }

  footer {
    color: $color-gray;
    text-align: center;
    font-size: 12px;
  }
}
