@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  input,
  button,
  label {
    display: block;
    width: 100%;
    margin-bottom: $global-spacing-unit-small;
    position: relative;
  }

  .input + span {
    position: relative;
    top: -$global-spacing-unit-tiny;
    color: $color-danger;
    font-size: 14px;

    animation: 500ms fadein linear;
  }

  footer {
    color: $color-gray;
    text-align: center;
    font-size: 12px;
  }
}
