@import 'settings';

.team {
  padding-left: 0 !important;
  position: relative;

  .bg {
    position: absolute;
    top: 0;
    left: -24px;
    width: 100vw;
    height: 100px;
    z-index: 0;
  }

  .animal,
  .player {
    z-index: 1;
  }

  .player {
    flex: 2;
    text-align: center;
  }
}
