@import 'settings.colors.scss';
@import 'settings.global.scss';

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.partial-score-page {
  margin: 0 auto;
  bottom: 24px;

  .score-img {
    position: fixed;
    width: 25%;
    bottom: 10px;
    right: 10px;
    z-index: 0;
    opacity: 0.8;
  }

  .title {
    font-size: 14px;
    margin-bottom: 16px;
    animation: fadeInLeftBig 1s;
  }

  .team-card {
    background-color: white;
    padding: 16px 32px;
    border-radius: 10px;
    margin-bottom: 16px;
    animation: fadeInLeftBig 2s;
    z-index: 10;
    display: flex;
    align-items: center;

    .animal-svg {
      height: 10vh;
      width: 120px;
    }

    .team-name {
      color: $color-main;
      font-size: 12px;
      font-weight: $global-weight-bold;
    }

    .score {
      position: relative;
      font-size: 12px;
      span {
        font-weight: $global-weight-bold;
        color: $color-main;
      }
    }
  }
}
