@import 'settings';

.pick-answer {
  .tooltip {
    color: $color-success;
  }

  .answer {
    color: $color-main;

    .counter {
      width: $global-spacing-unit-large;
      justify-content: center;
    }

    .value {
      flex: 1;
    }
  }
}

.decoration-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  .decoration-wrapper__decoration {
    position: absolute;
    width: 50px;
    max-width: none;
  }
}

@keyframes revealTooltip {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.tooltip {
  animation: revealTooltip .5s;
}