@import 'settings';

.pick-answer {
  .tooltip {
    color: $color-success;
  }

  .answer {
    color: $color-main;

    .counter {
      width: $global-spacing-unit-large;
      justify-content: center;
    }

    .value {
      flex: 1;
    }
  }
}
