@import 'settings';

.answer-results {
  .score {
    min-width: $global-spacing-unit-large;
  }

  .correct-answer {
    flex: 1;
  }

  .fake-answer {

    .team-name {
      font-size: 16px;
    }
  }
}
