@import 'settings';

.answer-results {
  .score {
    min-width: $global-spacing-unit-large;
  }

  .correct-answer {
    flex: 1;
  }

  .fake-answer {
    width: 85%;

    .team-name {
      font-size: 16px;
    }

    .votes .animal {
      width: 25px;
      height: 25px;
      display: inline-block;
      position: relative;
      top: 5px;
    }
  }
}
