///* ========================================================================
//   #COLORS
//   ======================================================================== */

$color-white: #fff;

$color-main: #5480fe;
$color-secondary: #8a2be2;

$color-dark: #335079;
$color-gray: #ced4db;
$color-gray-2: #f4f6f8;

$color-danger: #f7768e;

$color-success: #8acdb4;
