///* ========================================================================
//   #COLORS
//   ======================================================================== */

$color-white: #fff;
$color-main: #5480fe;
$color-dark: #335079;
$color-gray: #ced4db;
$color-danger: #f7768e;
