@import '../../styles/settings/settings.core';
@import '../../styles/settings/settings.colors';

.header {
  margin-bottom: $global-spacing-unit-medium;

  .title,
  .subtitle {
    position: relative;
    top: -15px;
    opacity: 0;
  }

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    color: $color-gray;
  }
}
