@import 'settings.colors';

html {
  overflow: hidden;
  background-color: $color-white;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: $color-dark;
}

// .page-transition-elem {
//   position: relative;
//   top: -15px;
//   opacity: 0;
// }
