@import 'settings.colors';

html {
  background-color: $color-white;
  overflow: hidden;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: $color-dark;
}

.page-transition-elem {
  opacity: 0;
}
